#extension-open-in-new-tab-btn {
  background-color: transparent;
  border-radius: 0.3rem;
  border: 0px;
  fill: #e97512;
  justify-content: center;
  padding: 8px;
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
#extension-open-in-new-tab-btn:hover {
  background-color: #e3e9f1;
}
#extension-open-in-new-tab-btn:active {
  position: relative;
  top: 1px;
}